{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}
{% load bootstrap_tags %}

{% block title %}{% block title_sub %}{% trans "Explore Maps" %}{%endblock %} - {{ block.super }} {% endblock %}

{% block body_class %}maps{% endblock %}

{% block body_outer %}

{% if output3 %}
<table>
<tr>
<td>
<form class="form-horizontal" method="POST" action="/imagetest/">{%csrf_token %}
    <legend>
{% trans "Result" %}
    </legend>
<div class="form-controls">
      {{ form|as_bootstrap }}
    </div>

<h3> Output = {{output}} </h3>
<h3> Output3 = {{output3}} </h3>
<h3> Output4 = {{output4}} </h3>
<h3> Output5 = {{output5}} </h3>
<h3> Output6 = {{output6}} </h3>
<h1> {{out}} </h1>
<p>
<input type="submit" value="New ones" class="btn btn-mini">
<a href="{{img.image.url}}" data-toggle="modal" class="btn btn-mini">{%
trans "Download" %}</a>
</p>
</form>
</td>
<td>
<img src ="{{ img.image.url }}" alt="lol"/>
</td>
</tr>
</table>


{% elif output2 %}
<table>
<tr>
<td>
<form class="form-horizontal" method="POST" action="/imagetest/">{%
csrf_token %}
    <legend>
{% trans "Result" %}
    </legend>
<div class="form-controls">
      {{ form|as_bootstrap }}
    </div>

<h3> Output = {{output}} </h3>
<h3> Output2 = {{output2}} </h3>
<h1> {{out}} </h1>
<p>
<input type="submit" value="New ones" class="btn btn-mini">
<a href="{{img.image.url}}" data-toggle="modal" class="btn btn-mini">{%
trans "Download" %}</a>
</p>
</form>
</td>
<td>
<img src ="{{ img2.image.url }}" alt="lol"/>
</td>
<td>
<img src ="{{ img3.image.url }}" alt="lol"/>
</td>
</tr>
</table>
{% else %}
<table>
<tr>
<td>
<form class="form-horizontal" method="POST" action="/imagetest/">{%csrf_token %}
    <legend>
{% trans "Result" %}
    </legend>
<div class="form-controls">
      {{ form|as_bootstrap }}
    </div>

<h3> Output = {{output}} </h3>
<h1> {{out}} </h1>
<p>
<input type="submit" value= "Send new selection" class="btn btn-mini">
<a href="{{img.image.url}}" data-toggle="modal" class="btn btn-mini">{%trans "Download" %}</a>
</p>
</form>
</td>
<td>
<img src ="{{ img.image.url }}" alt="lol"/>
</td>
</tr>
</table>
{% endif %}
  {% block sidebar %}{% endblock sidebar %}
{% endblock %}



