{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% block title_sub %}{% trans "Explore Maps" %}{% endblock %} - {{ block.super }} {% endblock %}

{% block body_class %}maps{% endblock %}

{% block body_outer %}
  <div class="span12">
<h1> Search Image </h1>
<hr/>


{% block body %}
<table>
<tr>
<td>
<form action="/imagetest/">{% csrf_token %}
<ul>
 {{form.as_ul}}
</ul>

<h3> Output = {{output}} </h3>
<input type="submit" value="Submit">
</form>
</td>
<td>
<img src ="{{ img.image.url }}" alt="lol"/>
</td>
</tr>
</table>
{% endblock body %}
  {% block sidebar %}{% endblock sidebar %}
{% endblock %}




