.nav-logo {
    width: 945px;
    height: 177px;
    background: url(../img/Overlay_start.png), url(../img/wasser_lang.jpg)  no-repeat;
}

.content-wrap {
    margin-top: 150px;
}

.navbar .navbar-inner {
    background: white;
}


